version: '2.3'

services:
  app:
    build: .docker/app
    container_name: app
    volumes:
      - .:/var/www
    networks:
      - app-network

  nginx:
    build: .docker/nginx
    container_name: nginx
    restart: always
    tty: true
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
    networks:
      - app-network

networks:
   app-network:
     driver: bridge
